{% load i18n %}

{% if widget.is_initial %}
   <p class="file-upload">{{ widget.initial_text }}: <a href="{{ widget.value.url }}">{{ widget.value }}</a>
    {% if not widget.required %}
      <span class="clearable-file-input">
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
      </span>
    {% endif %}<br>
  {{ widget.input_text }}:
{% else %}
  <p class="file-upload">
    {% if widget.file_name %}
      {% trans 'Cached' %}: {{ widget.file_name }}<br>
      {% trans 'Clear cache' %}: <input type="checkbox" name="{{ widget.name }}-clear-cache"><br>
    {% endif %}
{% endif %}

<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% if widget.is_initial %}</p>{% endif %}
<input type="hidden" name="{{ widget.name }}-cached-filefield" value="{{ widget.hash }}">
